@charset "utf-8"

/*
   comment

*/

html, body@

{
	background-color:#e5e5e5;
	color:blue;
	font-size:16px
	padding-left: 25px;
}

@font-face
{
	font-family: Champagne;
	src: url(cac_champagne.woff) format('woff'),
	url (cac_champagne.ttf) format('ttf');
}

#mysection
{
	font-family: Champagne, cursive;
}

h1, h2, h3
{
	font-variant:small-caps;
}

a:link

{
	color:white;
}

a:hover, a:focus

{
		color:pink;
}

a:visited

{
	color:red;
	
}

.contactInfo
{
	background-color: #154ael;
	font-size:15px;
}

.backgroundPurple
{
	background-color:purple;
}

ol
{
	list-style-type:lower-roman;
	color:black;
	font-size:2em;
}

ul
{
	list-style-image:url('bulletpoint.png')
}

p
{
	background-color:pink;
}


ul
{
	color:hsl(180, 100%, 50%);
	background-color:hsla(0, 100%, 30%, 0.3);
}


body
{
	border: 10px ridge mediumvioletred;
	background-image:url('../images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg');
	background-repeat: axis-y;
	background-position: top left, bottom right;
	background-attachment:fixed; 
	background-clip: border-box;
}

nav
{
	border-style: bold;
	border-color: black;
	border-top-width: 15px;
	border-bottom-width: 5px;
	border-left-width: 10px;
	border-right-width: 20px;
	border-image:url('../images/165660479a5d335') 10 repeat;
}

p
{
	border: 5px solid #154ael;
	border-radius: 5px/15px;
	padding: 25px;
	box-shadow: green 15px 10px 12px;
}


li
{
	text-shadow: black 10px 5px 12px;
}
