@charset "utf-8"

/*
NAME: Emily Underwood
ASSIGNMENT: T.V. Listings
DATE: 4/8/19
*/

html,body
{
	background-color:white;
}

table.schedule
{
	background: white;
	border: 10px outset rgb(153, 0, 153);
	border-collapse: collapse;
	font-size: 0.75em;
	width: 100%
}

table.schedule th, table.schedule td 
{
		border: 1px solid black;
}
	
table.schedule caption
{
	caption-side: bottom;
	text-align: right;
}
#SYFY
{
	background-color: green;
	color: yellow;
}
#AMC
{
	background-color: blue;
	color: white;
}

#WGNASD
{
	background-color: pink;
	color: blue;
}
table.schedule th
{
	background-color: purple;
	color: #6CE6FE;
}

td:hover
{
	background-color: #D4A3FE;
}
#SYFY:hover
{
	background-color: #D4A3FE;
}