@charset "utf-8";

/*
	Name: Emily Underwood
	Date: 2/20/19
	Assignment: Project 1, Diet Water
*/

html, body
{
	background-color:#B9FCF3;
	color:#7f0aee;
}

	
#main
{
	padding-left: 15px;
	padding-right: 15px;
}

#contact
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 60%;
}

a:link
{
	color: black;
}

a:visited
{
	color:#002BF9;
}


a:hover
{
	color:pink;
}

a:focus
{
	color:green;
}
